.sidebar__container {
  font-size: 1.25rem;
  height: 100vh;
  width: 8.5rem;
  text-align: left;
  background-color:rgb(52,59,64);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

button.sidebar_link{
    color: rgb(205,205,205);
    margin-left: -.4rem;
    text-decoration: none;
    background-color: rgb(52,59,64);
    font-size: 1.1rem;
    border: rgb(52,59,64);
    align-self: flex-start;
}

.sidebar_link:hover{
    color: rgb(250,250,250)
}