/* TODO Add site wide styles */
button{
    background-color:  rgb(78,169,237);
    border-radius: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 8rem;
    height: 2rem;
    border: none;
    color: rgb(224,224,224);
    
}

form{
    background-color: rgb(250,250,250);
    border-radius: .3rem;
    padding: 1rem 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    padding-bottom: .2rem;
}

input{
    padding: .3rem;
}

.form__input{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.form__button{
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

button:hover{
    color: rgb(250,250,250) ;
}